@charset "utf-8";

// Our variables
$base-font-family: 'Josefin Sans', 'Palanquin-Dark', Chivo, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$body-border: 20px;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

* {
	box-sizing:border-box;
}
html {
	height:100%;
	width:100%;
	overflow: hidden;
}
body {
	position: relative;
	height: 100%;
	width:100%;
	margin: 0;
	border:$body-border solid white;
	background: #DAE2F8;
//	background-image:url(images/noise.png), linear-gradient(315deg, #DAE2F8 , #D6A4A4);
	background-image:url(images/noise.png), linear-gradient(315deg, #3B71FF , #48DAFF);

	background-size: 20%, 100%;
	font-family: $base-font-family;
}

.text-center {
	text-align: center;
	&.abs {
		margin:0 auto;
		left:0;right:0;
	}
}
.abs {
	position: absolute;
	&img {
		display: block;
	}
}
.fixed {
	position: fixed;
}
.inline-block {
	display: inline-block;
}
.fl-left {
	float:left;
}
.fl-right {
	float:right;
}

h1 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 3em;
}

header {
	position: fixed;
	top: 0;
	border-top: $body-border solid white;
	left:0;
	width:100%;
	height:100px;
	opacity: 0;
	//background: white;
	text-align: center;
	svg {
		//border:1px solid blue;
		height: 100px;
		width:100%;
	}
	img {
		position:absolute;
		height:40px;
		top:8px;
		left:45%;
		z-index: 2;
	}
	&.activated {
		opacity: 1;
		transition:opacity 1s;
	}
}


// pages //

.page {
	position:fixed;
	width:100vw;
	height:100vh;
	top:0;
	left:0;
	background: green;
	transform: translateY(100%);
	//z-index: 10;
}

.page#portfolio {
	//font-family: Monospace;
	background-color: #fff;
	background-image: linear-gradient(white 0%, #aaa 40%, #aaa 100%), url(images/noise.png);
	background-size:100%;
	color: #fff;
	margin: 0px;
	overflow: hidden;
	height: 100vh;
}


.active-portfolio {

	.page#portfolio {
		transform:translateY(0);
	}
	#blimpContainer {
		display: none;
	}
}

// geoJelly //

canvas {
	position:absolute;
	top:0;left:0;
	width:100%
}

// homepage

h1 {
	letter-spacing: 2px;
}
.scissors {
	will-change: transform;
	bottom: 200px;
	right: 0;
	transform: translateX(30%);
	//animation: positionScissors 4s infinite;

}
#homepage-next {
	z-index: 5;
	&:hover {
		border:1px solid red;
	}
}
#scissors-1 {
	transform: rotate(20deg);
	transform-origin: 55% 70%;
}

#homepage-scroller {
	height: 200vh;
	background-image:url(images/noise.png), linear-gradient(315deg, #3B71FF , #48DAFF);
	background-size: 30%, 100%;
	transition: transform ease-out 1s;

	&.homepage-1 {
		transform: translateY(0);
	}

	&.homepage-2 {
		transform: translateY(-50%);
	}
}

.page-container {
	position: relative;
	width:100%;
	height:calc(100vh - #{$body-border}*2);
	border:1px dotted red;
	margin-bottom: $body-border*2;
	.bottom {
		bottom:10%;
	}
	.top {
		top:10%;
	}
	.middle {
		top: 50%;
		transform: translateY(-50%);
	}
	#finger {
		width:20%;
	}

}

#blimpContainer {
	position: absolute;
	top: 0;
	left:0;
	right:0;
	margin: 0 auto;
	width:400px;

	height:1000px;

}


#homepage-2 {
	.textblock {
		width: 90%;
		line-height: 1.6;
		max-width: 500px;
		left:0; right:0;
		margin: 0 auto;
		transform: translate(-125px,-50%);
		opacity: 0;
		transition: opacity 1.5s linear 1s;
	}
}

#homepage-scroller.homepage-2 {
	.scissors {
		animation: positionScissors 4s forwards;
		#scissors-1 {
			animation: chop 4s forwards;
		}
	}

    #finger {
      animation: push 2s forwards 2s;
    }
    .textblock {
			opacity:1;
      animation: float 2s forwards 2s;
    }

}

@keyframes positionScissors {
		0%, 100% { 	transform: translateX(30%); }
		50%, 70% { 	transform: translateX(25%); }
		60%,0% { transform: translateX(0%); }
}

@keyframes chop {
	0%, 100% { 	transform: rotate(20deg); }
	50%, 70% { 	transform: rotate(18deg); }
	60%,0% { 	transform: rotate(0deg); }
}

@keyframes push {
  0% { transform:translate(-50px,-50%); }
  20% { transform:translate(0,-50%); }
  25% { transform:translate(50px,-50%) rotate(3deg); }
  90%,100% { transform:translate(-50px,-50%);}
}

@keyframes float {
  0% { transform:translate(-125px,-50%); }
  20% { transform:translate(-125px,-50%); }
  25% { transform:translate(-50px,-50%); }
  100% { transform:translate(0px,-50%); }
}




// footer //

footer {
	margin:0;
	background: rgba(255,255,255,0.5);
	padding:20px;
	display: none;
	form {
		width: 300px;
		label {
			position: relative;
			display: block;
			border-bottom: 2px solid black;
			margin-bottom: 0.5em;
			&:before,
			&:after {
				position: absolute;
				content:' ';
				background:black;
				width:6px;
				height:6px;
				border-radius:50%;
			}
			&:before {
				bottom:-4px;
				left:-3px;
			}
			&:after {
				bottom:-4px;
				right:-3px;
			}


		}
		input, textarea {
			display: block;
			width:100%;
			font-family: $base-font-family;
			font-size: 1.5em;
			padding:0.5em;
			border:none;

		}
	}
}
