---
# this is an empty front matter
---
<canvas id="gallery-canvas" width="1000" height="800"></canvas>
  <div id="slider" class="slide-1">
    <section class="slide active-slide" id="slide-1">
      <h2>1</h2>
      <img src="http://www.guestandguest.com/images/pf/blackcordon-pf3.png">
      <article class="gallery-text">
        These Californian winemakers had a tricky problem- they'd found that existing websites for high-end wines from the region sometimes appeared elitist and unfriendly, and this was not the image they wanted to convey for their brand. The site had to convey the high-quality, luxury product of which they were proud, yet feel approachable and friendly to visitors. The dark colours and gold text mirror the beautiful bottle label, and the homepage background gives a sense of context for the product. Clicking the homepage links brings up a translucent overlay window in which the content is displayed elegantly.
Custom photography and homepage background
Auto-hide footer menu
Fully responsive - for smartphones, tablet and desktop
Smooth animated content pages
HTML5 · CSS3 · JQuery · Ajax
www.blackcordon.com
        <a href="//blackcordon.com" target="_blank">
          {% include icon-link.html %}
        </a>
      </article>

    </section>

    <section class="slide" id="slide-2">
      <h2>2</h2>
      <img src="assets/images/portfolio/grahamortho-1.jpg">
      <article class="gallery-text">
        These Californian winemakers had a t
        HTML5 · CSS3 · JQuery · Ajax
        www.grahamortho.com
      </article>
    </section>

    <section class="slide" id="slide-3">
      <h2>3</h2>
      <img src="http://www.guestandguest.com/images/pf/blackcordon-pf3.png">
      <article class="gallery-text">

      </article>

    </section>
  </div>
  <a class="gallery-container-toggle">
    <svg viewBox="0 0 54 54" width="54" height="54" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
      <polyline points="5,10 52,42" fill="none" stroke="white" stroke-width="2"	/>
      <polyline points="2,52 50,2" fill="none" stroke="white" stroke-width="2"	/>
      <circle cx="2" cy="52" r="2" fill="white"/>
      <circle cx="50" cy="2" r="2" fill="white"/>
      <circle cx="5" cy="10" r="2" fill="white"/>
      <circle cx="52" cy="42" r="2" fill="white"/>
    </svg>
  </a>
  <a class="nav" id="nav-prev">
    <span>PREVIOUS</span>
    <svg viewBox="0 0 100 54" width="100" height="54" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
      <polyline points="2,52 50,2 98,52" fill="none" stroke="white" stroke-width="2"	/>
      <circle cx="2" cy="52" r="2" fill="white"/>
      <circle cx="50" cy="2" r="2" fill="white"/>
      <circle cx="98" cy="52" r="2" fill="white"/>
    </svg>
  </a>
  <a class="nav" id="nav-next">
    <span>NEXT</span>
    <svg viewBox="0 0 100 55" width="100" height="54" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
      <polyline points="2,2 50,50 98,2" fill="none" stroke="white" stroke-width="2"	/>
      <circle cx="2" cy="2" r="2" fill="white"/>
      <circle cx="50" cy="50" r="2" fill="white"/>
      <circle cx="98" cy="2" r="2" fill="white"/>
    </svg>
  </a>
