* {
  box-sizing: border-box; }

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #DAE2F8;
  background-image: url(images/noise.png), linear-gradient(315deg, #DAE2F8, #D6A4A4);
  background-size: 20%, 100%;
  font-family: "Palanquin-Dark", Chivo, sans-serif; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  text-align: center; }
  header svg {
    height: 100px;
    width: 100%; }
  header img {
    position: absolute;
    height: 40px;
    top: 8px;
    left: 45%;
    z-index: 2; }

.page {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: green;
  transform: translateY(100%); }

.page#portfolio {
  background-color: #fff;
  background-image: linear-gradient(white 0%, #aaa 40%, #aaa 100%), url(images/noise.png);
  background-size: 100%;
  color: #fff;
  margin: 0px;
  overflow: hidden;
  height: 100vh; }

.active-portfolio .page#portfolio {
  transform: translateY(0); }

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

#finger {
  position: relative;
  margin-top: 300px;
  width: 300px; }

span {
  font-family: 'Palanquin-Dark', Chivo;
  font-size: 5vw; }

.spacer {
  position: relative;
  height: 2000px;
  width: 20px; }

.inline-block {
  display: inline-block; }

.fl-left {
  float: left; }

.fl-right {
  float: right; }

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2; }
  .menu-container svg#menu {
    position: absolute;
    top: 0px;
    right: 0;
    border: 1px dotted grey;
    height: 100%;
    width: 100%;
    z-index: 1; }
  .menu-container img#menu-img {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(-100%);
    transition: all .5s;
    z-index: 2; }
  .menu-container #menu-container-close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 4;
    opacity: 0.5;
    transition: transform .5s; }
    .menu-container #menu-container-close:hover svg {
      animation: bulge 1s; }

@keyframes bulge {
  0, 100% {
    transform: scale(1);
    opacity: 0.5; }
  30% {
    transform: scale(1.2);
    opacity: 1; } }
  .menu-container #menu-list {
    position: absolute;
    top: 40%;
    left: 40%;
    list-style: none;
    z-index: 3;
    opacity: 0;
    transform: translateY(-1000px);
    transition: opacity 2.5s linear 1.5s, transform 0.5s;
    font-size: 5vw; }
    .menu-container #menu-list a {
      color: white;
      line-height: 1.5;
      text-decoration: none;
      transition: opacity .4s; }
      .menu-container #menu-list a:hover {
        opacity: 0.5; }
  .menu-container .menu-icon {
    position: absolute;
    right: 0;
    top: calc(50% - 30px);
    width: 50px;
    height: 60px;
    border: 1px solid red;
    cursor: pointer;
    z-index: 3; }
    .menu-container .menu-icon :nth-child(1) {
      left: 20%;
      width: 80%; }
    .menu-container .menu-icon :nth-child(2) {
      width: 70%; }
    .menu-container .menu-icon :nth-child(3) {
      left: 20%;
      width: 50%; }
  .menu-container .stripe {
    border: 1px solid white;
    display: block;
    position: relative;
    margin: 0 0 18px;
    width: 100px;
    box-sizing: border-box; }
  .menu-container .menu-icon:hover .stripe {
    animation-name: sliding;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; }
  .menu-container .menu-icon:hover .stripe:nth-child(2) {
    animation-delay: 0.25s; }
  .menu-container .menu-icon:hover .stripe:nth-child(3) {
    animation-delay: 0.5s; }

body.activated .menu-container img#menu-img {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 1s, opacity .5s .5s; }

body.activated .menu-container #menu-container-close {
  transform: translateY(0); }

body.activated .menu-container #menu-list {
  transform: translateY(0);
  opacity: 1; }

@keyframes sliding {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(-15%); }
  100% {
    transform: translateX(0); } }

footer {
  margin: 0;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px; }
  footer form {
    width: 300px; }
    footer form label {
      position: relative;
      display: block;
      border-bottom: 2px solid black;
      margin-bottom: 0.5em; }
      footer form label:before, footer form label:after {
        position: absolute;
        content: ' ';
        background: black;
        width: 6px;
        height: 6px;
        border-radius: 50%; }
      footer form label:before {
        bottom: -4px;
        left: -3px; }
      footer form label:after {
        bottom: -4px;
        right: -3px; }
    footer form input, footer form textarea {
      display: block;
      width: 100%;
      font-family: "Palanquin-Dark", Chivo, sans-serif;
      font-size: 1.5em;
      padding: 0.5em;
      border: none; }

* {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none; }

.gallery-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(images/noise.png), linear-gradient(#333, #111);
  background-size: 20%, 100%;
  padding: 10px;
  transform: translateY(150%);
  transition: transform 1s ease-out;
  z-index: 10;
  overflow: hidden; }
  .gallery-container a {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none; }
  .gallery-container a.gallery-container-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 10px;
    /* Likely future */ }
  .gallery-container .nav {
    position: absolute;
    display: block;
    left: calc(50% - 50px);
    width: 100px;
    height: 54px;
    z-index: 100;
    transition: all 0.5s; }
    .gallery-container .nav span {
      font-size: 16px;
      display: block;
      position: absolute;
      text-align: center;
      left: 100px;
      top: 20px;
      opacity: 0;
      letter-spacing: 2px;
      transition: opacity .25s; }
    .gallery-container .nav:hover span {
      opacity: 0.5; }
    .gallery-container .nav svg {
      display: block; }
    .gallery-container .nav#nav-prev {
      top: 10px; }
      .gallery-container .nav#nav-prev.hidden {
        top: -20%; }
    .gallery-container .nav#nav-next {
      bottom: 10px; }
      .gallery-container .nav#nav-next.hidden {
        bottom: -20%; }

.gallery-active .gallery-container {
  transform: translateY(0); }

#slider {
  width: 100%;
  height: 300%;
  will-change: transform;
  transition: transform 1s; }
  #slider > .slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 33.33333%;
    opacity: 0;
    transition: opacity .25s; }
    #slider > .slide.active-slide {
      opacity: 1; }
      #slider > .slide.active-slide .gallery-text {
        transform: translateY(0); }
    #slider > .slide img {
      max-width: 50%;
      display: block; }
    #slider > .slide .gallery-text {
      width: 50%;
      position: relative;
      transform: translateY(-1000px);
      transition: transform 1s 0.5s; }
  #slider.slide-1 {
    transform: translateY(0%); }
  #slider.slide-2 {
    transform: translateY(-33.33333%); }
  #slider.slide-3 {
    transform: translateY(-66.66667%); }
  @media (max-width: 960px) {
    #slider > .slide {
      flex-direction: column; } }
