html {
  height: 140%; }

body {
  position: relative;
  min-height: 100%;
  background: #DAE2F8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(315deg, #DAE2F8, #D6A4A4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(315deg, #DAE2F8, #D6A4A4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.2);
  text-align: center; }
  header svg {
    border: 1px solid blue;
    height: 100px;
    width: 100%; }
  header img {
    position: absolute;
    top: 0;
    z-index: 200; }

header img {
  height: 40px; }

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

#finger {
  position: relative;
  margin-top: 300px;
  width: 300px; }

span {
  font-family: 'Palanquin-Dark', Chivo;
  font-size: 5vw; }

svg#menu {
  position: fixed;
  top: 00px;
  right: 0;
  border: 1px dotted grey;
  height: 100%;
  width: 100%; }

img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1s; }

img.activated {
  display: block;
  opacity: 1;
  transition: opacity 1	s; }

#buttons {
  position: absolute;
  z-index: 500; }
